#education-output {
  border: 1px solid gray;
  display: grid;
  margin-top: 1ch;
  text-align: center;
}

/*ul*/
.education-list {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

/*li*/
.education-items {
  width: 80%;
  display: grid;
  margin: 1ch 5% 0 5%;
  padding: 0;
}

/*holds institution name and dates*/
.institution-info {
  display: flex;
  justify-content: space-between;
}
/*holds just the name/title of degree/course*/
.education-title {
  text-align: left;
}

#education-edit-button {
  width: fit-content;
  text-align: center;
  justify-self: center;
}

#add-education-button {
  margin-top: 1ch;
}

#education-input hr {
  margin: 1ch 0;
  max-width: 410px;
}

#education-limit-error-message {
  display: block;
  color: red;
  margin: 1ch 0;
}
