#title {
  text-align: center;
}

#general-input textarea {
  min-width: 250px;
  min-height: 150px;
}
#name-input-label,
#email-input-label,
#phone-input-label,
#location-input-label,
#professional-title-input-label,
#description-input-label,
#skills-input-label {
  display: flex;
  align-items: center;
  margin-bottom: 1ch;
  max-width: 400px;
  justify-content: space-between;
}

#general-input input {
  margin-left: 1ch;
  width: 250px;
}

#skills-input {
  margin-right: 1ch;
}

.required-asterisk {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
}

#general-output {
  display: grid;
  justify-content: center;
  text-align: center;
  border: 1px solid gray;
}
.title-output {
  font-weight: bold;
  font-size: 1.2rem;
}
.phone-keyword,
.email-keyword {
  font-weight: bold;
}
.person-description-output {
  font-size: 1.2rem;
}
.description-output-title,
.skills-output-title {
  margin-top: 2ch;
}
.skills-output-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.skill-li {
  width: fit-content;
}
.edit-button {
  width: fit-content;
  text-align: center;
  justify-self: center;
}
.error-message {
  display: block;
  color: red;
}

/* media query to hide edit buttons when user prints screen */
@media print {
  .edit-button {
    display: none;
  }
  #general-output {
    border: none;
  }
}
