#title {
  text-align: center;
}

#general-output {
  display: grid;
  justify-content: center;
  text-align: center;
  border: 1px solid gray;
}
.title-output {
  font-weight: bold;
}

.phone-keyword,
.email-keyword {
  font-weight: bold;
}

.description-output-title,
.skills-output-title {
  margin-top: 2ch;
}
.skills-output-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.skill-li {
  width: fit-content;
}
.edit-button {
  width: fit-content;
  text-align: center;
  justify-self: center;
}
.error-message {
  display: block;
  color: red;
}

/* media query to hide edit buttons when user prints screen */
@media print {
  .edit-button {
    display: none;
  }
  #general-output {
    border: none;
  }
}
